@use '../base/mixins' as *;
@use '../base/variables' as *;


.popup {
  display: none;
  color: $content-brown-primary;
  position: relative;
  background: $content-white-primary;

  .f-button {
    display: none;
  }
}

.popup-request {
  padding: 80px 20px 32px;
  width: 100%;

  @include breakpoint(md) {
    max-width: 704px;
    padding: 56px 20px 40px;
  }

  @include breakpoint(lg) {
    max-width: 872px;
    padding: 56px;
  }

  @include breakpoint(xl) {
    max-width: 1053px;
    padding: 54px;
  }

  &__close {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 32px;
    right: 20px;

    @include breakpoint(md) {
      top: 16px;
      right: 16px;
    }

    @include breakpoint(lg) {
      top: 24px;
      right: 24px;
    }
  }

  &__inner {
    @include flexColumn;
    gap: 24px;

    @include breakpoint(lg) {
      gap: 40px;
    }

    @include breakpoint(xl) {
      gap: 56px;
    }
  }

  &__title {
    font: $bold-30;
    text-align: center;

    @include breakpoint(md) {
      font: $bold-32;
    }

    @include breakpoint(lg) {
      font: $bold-48;
    }
  }
}

.popup-success {
  position: relative;
  max-width: 320px;
  padding: 52px 18px;

  @include breakpoint(md) {
    padding: 56px 24px;
    max-width: 481px;
  }

  @include breakpoint(lg) {
    padding: 64px 32px;
    max-width: 700px;
  }
  &__close {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 12px;
    right: 12px;

    @include breakpoint(md) {
      top: 16px;
      right: 16px;
    }

    @include breakpoint(lg) {
      top: 24px;
      right: 24px;
    }
  }


  &__title {
    font: $bold-26;
    text-align: center;

    @include breakpoint(md) {
      font: $bold-32;
    }

    @include breakpoint(lg) {
      font: $bold-48;
    }
  }
}