block footer

    footer#footer.footer
        .container
            .footer__inner
                .footer__inner-top
                    .footer__nav
                        .footer__nav-block
                            a(href="javascript:void(0)").footer__nav-block-title О компании
                            ul.footer__nav-block-items
                                li.footer__nav-block-item
                                    a(href="javascript:void(0)") Руководство
                                li.footer__nav-block-item
                                    a(href="javascript:void(0)") География деятельности
                                li.footer__nav-block-item
                                    a(href="javascript:void(0)") Лицензии
                                li.footer__nav-block-item
                                    a(href="javascript:void(0)") Материально техническая база
                        .footer__nav-block
                            a(href="javascript:void(0)").footer__nav-block-title Услуги
                            ul.footer__nav-block-items
                                li.footer__nav-block-item
                                    a(href="javascript:void(0)") Инженерно-геодезические изыскания
                                li.footer__nav-block-item
                                    a(href="javascript:void(0)") Инженерно-геологические изыскания
                                li.footer__nav-block-item
                                    a(href="javascript:void(0)") Инженерно-экологические изыскания
                                li.footer__nav-block-item
                                    a(href="javascript:void(0)") Инженерно-гидрометеорологические изыскания
                                li.footer__nav-block-item
                                    a(href="javascript:void(0)") Инженерно-гидрометеорологические изыскания
                                li.footer__nav-block-item
                                    a(href="javascript:void(0)") Исполнительная документация
                                li.footer__nav-block-item
                                    a(href="javascript:void(0)") Кадастровые работы
                        .footer__nav-block
                            a(href="javascript:void(0)").footer__nav-block-title Проекты
                            ul.footer__nav-block-items
                                li.footer__nav-block-item
                                    a(href="javascript:void(0)")
                        .footer__nav-block
                            a(href="javascript:void(0)").footer__nav-block-title Карьера
                            ul.footer__nav-block-items
                                li.footer__nav-block-item
                                    a(href="javascript:void(0)") Кадровая социальная политика
                                li.footer__nav-block-item
                                    a(href="javascript:void(0)") Вакансии
                                li.footer__nav-block-item
                                    a(href="javascript:void(0)") Молодым специалистам

                        .footer__nav-block
                            a(href="javascript:void(0)").footer__nav-block-title О компании
                            ul.footer__nav-block-items
                                li.footer__nav-block-item
                                    a(href="tel:74956462990") +7 (495) 646-29-90
                                li.footer__nav-block-item
                                    a(href="mailto:mail@geoaspect.ru") mail@geoaspect.ru
                                li.footer__nav-block-item
                                    .footer__socials
                                        .footer__social
                                            noindex
                                                a(href="javascript:void(0)" rel="nofollow")
                                                    include ../icons/icon_telegram.svg
                                        .footer__social
                                            noindex
                                                a(href="javascript:void(0)" rel="nofollow")
                                                    include ../icons/icon_whatsapp.svg

                .footer__inner-bottom
                    a(href="/").footer__logo
                        include ../../public/assets/images/logo.svg
                    .footer__inner-bottom-links
                        .footer__devs
                            a(href="https://di-project.studio/") Разработка сайта: Di-Project Studio
                        .footer__policy
                            a(href="policy.html") Политика конфиденциальности
                        .footer__rights Все права защищены

