@use '../base/mixins' as *;
@use '../base/variables' as *;
@use '../base/container' as *;

.main-hero {
  height: 550px;
  position: relative;


  &__inner {
    color: $content-white-primary;
    padding-top: 56px;
    @include flexColumn;
    height: 100%;
    align-items: flex-start;

    @include breakpoint(md) {
      padding: 0;
      justify-content: center;
      @include columCountMaxWidth(11);
    }

    @include breakpoint(lg) {
      @include columCountMaxWidth(8);
    }

    @include breakpoint(xl) {
      @include columnCountMaxXlWidth(6);
    }

    h1 {
      margin-bottom: 16px;
      text-wrap: balance;

      @include breakpoint(lg) {
        margin-bottom: 24px;
      }

      @include breakpoint(xl) {
        margin-bottom: 32px;
      }
    }

    p {
      font: $regular-14;

      @include breakpoint(lg) {
        font: $regular-16;
      }

      @include breakpoint(xl) {
        font: $regular-18;
      }
    }

    .btn {
      margin-top: 24px;

      @include breakpoint(xl) {
        margin-top: 40px;
      }
    }
  }

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

    &:after {
      content: "";
      position: absolute;
      background: linear-gradient(270deg, rgba(0, 0, 0, 0.00) 1.39%, rgba(0, 0, 0, 0.60) 57.64%);
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
    }

    img {
      object-fit: cover;
      object-position: center;
    }
  }
}

.main-services {
  &__inner {

  }

  .section-title {
    text-align: center;
  }

  &__items {
    margin-top: 32px;
    display: grid;
    gap: 10px;
    grid-auto-rows: 270px;

    @include breakpoint(md) {
      grid-template-columns: repeat(2, 1fr);
      grid-auto-rows: 300px;
    }

    @include breakpoint(lg) {
      margin-top: 40px;
      grid-template-columns: repeat(6, 1fr);
      gap: 16px;
      grid-auto-rows: unset;
      grid-template-rows: 330px 340px 330px;
    }

    @include breakpoint(xl) {
      margin-top: 56px;
      gap: 20px;
      grid-template-rows: unset;
      grid-auto-rows: 400px;
    }

    .main-services__item {
      border: 1px solid $content-brown-border;
      background: $content-brown-border;
      @include flexColumn;
      justify-content: space-between;
      position: relative;
      padding: 18px;
      transition: $transition;

      @include breakpoint(lg) {
        padding: 24px;
      }

      @include breakpoint(xl) {
        padding: 32px;
      }

      &:nth-child(1) {
        @include breakpoint(lg) {
          grid-column: span 3;
        }
      }

      &:nth-child(2) {
        @include breakpoint(lg) {
          grid-column: span 3;
        }
      }

      &:nth-child(3) {
        @include breakpoint(lg) {
          grid-column: span 2;
        }
      }

      &:nth-child(4) {
        @include breakpoint(lg) {
          grid-column: span 2;
        }
      }

      &:nth-child(5) {
        @include breakpoint(lg) {
          grid-column: span 2;
        }
      }

      &:nth-child(6) {
        @include breakpoint(lg) {
          grid-column: span 3;
        }
      }

      &:nth-child(7) {
        @include breakpoint(lg) {
          grid-column: span 3;
        }
      }

      &:hover {

        &:nth-child(1) {
          background: $colors-brown-primary;
        }

        &:nth-child(2) {
          background: $colors-gold-primary;
        }

        &:nth-child(3) {
          background: $colors-lightgreen-primary;
        }

        &:nth-child(4) {
          background: $colors-gray-primary;
        }

        &:nth-child(5) {
          background: $colors-blue-primary;
        }

        &:nth-child(6) {
          background: $colors-green-primary;
        }

        &:nth-child(7) {
          background: $colors-darkgreen-primary;
        }

        .main-services__item-title, .main-services__item-description {
          color: $content-white-primary;
        }

        .main-services__item-icon {
          img {
            opacity: 0;
          }

          svg {
            opacity: 1;
          }
        }
      }

      &-title {
        font: $regular-20;
        transition: $transition;

        @include breakpoint(md) {
          font: $regular-24;
        }

        @include breakpoint(lg) {
          font: $regular-28;
        }

        @include breakpoint(xl) {
          font: $regular-40;
        }
      }

      &-bottom {
        display: flex;
        align-items: flex-end;
        gap: 10px;

        @include breakpoint(lg) {
          gap: 24px;
        }

        @include breakpoint(xl) {
          justify-content: space-between;
        }
      }

      &-description {
        font: $regular-14;
        color: $content-brown-subprimary;
        transition: $transition;

        @include breakpoint(lg) {
          font: $regular-16;
        }

        @include breakpoint(xl) {
          font: $regular-18;
          max-width: 353px;
        }
      }

      &-icon {
        flex-shrink: 0;
        position: relative;
        width: 24px;
        height: 24px;

        @include breakpoint(lg) {
          width: 40px;
          height: 40px;
        }

        img, svg {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          transition: $transition;
        }

        img {
          opacity: 1;
        }

        svg {
          opacity: 0;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}

.main-projects {
  height: 400px;
  position: relative;
  padding-top: 32px;

  @include breakpoint(md) {
    padding-top: 40px;
    height: 550px;
  }

  @include breakpoint(lg) {
    padding-top: 56px;
    height: 700px;
  }

  @include breakpoint(hd) {
    height: 870px;
    padding: 80px;
  }

  .section-title {
    color: $content-white-primary;
    text-align: center;
    position: relative;
    z-index: 2;
  }

  &__slider {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;

    &-navigation {
      position: absolute;
      top: 50%;
      left: 20px;
      right: 20px;
      z-index: 2;
      @include flexCenterBetween;
      pointer-events: none;


      @include breakpoint(lg) {
        left: 26px;
        right: 26px;
      }

      @include breakpoint(hd) {
        width: 1600px;
        left: 50%;
        transform: translateX(-50%);
      }

      .button-prev, .button-next {
        width: 30px;
        height: 20px;
        @include flexCenterCenter;
        pointer-events: auto;

        @include breakpoint(lg) {
          width: 282px;
          height: 32px;
        }

        img {
          &:nth-child(1) {
            width: 10px;
            height: auto;

            @include breakpoint(lg) {
              display: none;
            }
          }

          &:nth-child(2) {
            display: none;

            @include breakpoint(lg) {
              display: block;
              width: 250px;
              height: auto;
            }
          }
        }
      }
    }
  }

  .swiper-wrapper {
    .swiper-slide {
      position: relative;

      &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(0deg, $content-brown-secondary 0%, $content-brown-secondary 100%);
      }

      img {
        object-fit: cover;
        object-position: center;
      }
    }
  }
}

.main-advantages {
  .section-title {
    text-align: center;
  }

  &__items {
    margin-top: 32px;
    display: grid;
    gap: 10px;

    @include breakpoint(lg) {
      grid-template-columns: repeat(3, 1fr);
      gap: 16px;
      margin-top: 40px;
    }

    @include breakpoint(xl) {
      gap: 20px;
      margin-top: 56px;
    }
  }
}

.main-cooperation {

  &__inner {
    @include flexColumn;
    gap: 24px;

    @include breakpoint(lg) {
      gap: 40px;
    }

    @include breakpoint(xl) {
      gap: 56px;
    }
  }

  &__top {

    @include breakpoint(md) {
      display: grid;
      grid-template-columns: 347px 228px;
      justify-items: center;
    }

    @include breakpoint(lg) {
      grid-template-columns: 1fr;
      justify-content: center;
    }

    > p {
      display: none;

      @include breakpoint(md) {
        display: block;
        font: $regular-14;
      }

      @include breakpoint(lg) {
        display: none;
      }
    }
  }

  &__bottom {
    @include breakpoint(lg) {
      display: grid;
      grid-template-columns: 4fr 8fr;
      gap: 16px;
      align-items: center;
    }

    @include breakpoint(xl) {
      grid-template-columns: 520px 925px;
      justify-content: space-between;
    }

    > p {
      display: none;

      @include breakpoint(lg) {
        display: block;
        font: $regular-22;
      }

      @include breakpoint(xl) {
        font: $regular-24;
      }
    }
  }
}

.main-licenses {
  &__top {
    @include flexCenterBetween;
    margin-bottom: 32px;

    @include breakpoint(lg) {
      margin-bottom: 40px;
    }

    @include breakpoint(xl) {
      margin-bottom: 56px;
    }

    .slider__nav {
      @include flexAlignCenter;
      gap: 10px;

      button {
        width: 38px;
        height: 38px;
        border-radius: 50%;
        @include flexCenterCenter;
        background: $content-brown-border;
        cursor: pointer;
        transition: $transition;

        &:hover {
          background: $content-brown-secondary;
        }

        &.disabled {
          background: $content-brown-background;

          &:before {
            opacity: 0.2;
          }
        }

        &:before {
          content: "";
          width: 14px;
          height: 14px;
          transition: $transition;
        }

        &.button-prev {
          &:before {
            background: url("../icons/icon_arrow-left--brown.svg") no-repeat center center;
          }
        }

        &.button-next {
          &:before {
            background: url("../icons/icon_arrow-right--brown.svg") no-repeat center center;
          }
        }
      }
    }
  }

  &__slider {
    margin-right: calc($container * -1);

    @include breakpoint(xl) {
      margin-right: calc((100vw - 1600px) / -2);
    }

    .swiper-slide {
      width: 160px;
      height: 221px;

      @include breakpoint(md) {
        width: 219px;
        height: 303px;
      }

      @include breakpoint(lg) {
        width: 272px;
        height: 375px;
      }
    }
  }
}

.main-socials {
  position: relative;
  height: 400px;
  display: grid;
  gap: 32px;
  padding: 0 20px 0;


  .section-title {
    color: $content-white-primary;
    align-self: flex-end;
    text-align: center;
    text-wrap: balance;
  }

  &__items {
    @include flexAlignCenter;
    justify-self: center;
    gap: 8px;
    align-items: flex-start;

    .main-socials__item {
      border-radius: 70px;
      background: $background-white-primary;
      padding: 14px 18px;
      cursor: pointer;
      transition: $transition;

      &:nth-child(1) {
        &:hover {
          background: $colors-telegram-primary;
        }
      }

      &:nth-child(2) {
        &:hover {
          background: $colors-whatsapp-primary;
        }
      }

      svg {
        path {
          transition: $transition;
        }
      }

      &:hover {
        color: white;

        svg {
          path {
            fill: $content-white-primary;
          }
        }
      }



      a {
        @include flexAlignCenter;
        gap: 4px;
      }
    }
  }

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

    img {
      object-fit: cover;
      object-position: center;
    }
  }
}
