extends ../layout/layout

block title
    - var title = "Главная"
    - var page = "page-main"
block main
    section.main-hero
        .container
            .main-hero__inner
                h1 Геоаспект инженерная группа
                p.
                    Мы предлагаем полный спектр инженерных услуг, связанных с геодезическими работами.
                    С Геоаспект вы получаете подробные, юридически соответствующие данные для вашего
                    проекта и можете положиться на наше стратегическое управление, четкую коммуникацию
                    и абсолютную надежность.
                button(data-src="#popupRequest" data-fancybox).btn.btn--primary Оставить заявку
        .main-hero__image
            +img('main-hero-image.jpg')

    section.main-services
        .container
            .main-services__inner
                .section-title Инженерные изыскания
                .main-services__items
                    -
                        var servicesItems = [
                            {title: "Инженерно-геодезические изыскания", description: "Выполняем комплекс измерений, вычислений и построений в чертежах и натуре, обеспечивающих правильное и точное размещение зданий и сооружений."},
                            {title: "Инженерно-геологические изыскания", description: "Выполняем комплекс измерений, вычислений и построений в чертежах и натуре, обеспечивающих правильное и точное размещение зданий и сооружений."},
                            {title: "Инженерно-экологические изыскания", description: "Минимизируем экологические риски строительства промышленных объектов, оцениваем воздействие объекта на здоровье населения на основе скрининга экологической ситуации."},
                            {title: "Исполнительная документация", description: "Выполняем комплекс измерений, вычислений и построений в чертежах и натуре, обеспечивающих правильное и точное размещение зданий и сооружений."},
                            {title: "Кадастровые работы", description: "Минимизируем экологические риски строительства промышленных объектов, оцениваем воздействие объекта на здоровье населения на основе скрининга экологической ситуации."},
                            {title: "Инженерно-гидрометеорологические изыскания", description: "Определяем климатические и гидрологические характеристики объектов, оказывающих влияние на место строительства."},
                            {title: "Инженерно-дендрологические изыскания", description: "Минимизируем экологические риски строительства промышленных объектов, оцениваем воздействие объекта на здоровье населения на основе скрининга экологической ситуации."},
                        ]
                    each servicesItem, index in servicesItems
                        a(href="service.html").main-services__item
                            .main-services__item-title= servicesItem.title
                            .main-services__item-bottom
                                .main-services__item-description= servicesItem.description
                                .main-services__item-icon
                                    +img(`icon_services-item-${index + 1}.svg`)
                                    include ../icons/icon_arrow-right--white.svg

    section.main-projects
        .section-title Проекты
        .main-projects__slider.swiper
            .main-projects__slider-navigation
                button(type="button").button-prev
                    +img('icon_arrow-left-slider-s-md.svg')
                    +img('icon_arrow-left-slider-lg.svg')
                button(type="button").button-next
                    +img('icon_arrow-right-slider-s-md.svg')
                    +img('icon_arrow-right-slider-lg.svg')
            .swiper-wrapper
                .swiper-slide
                    +img('main-projects-image.jpg')
                .swiper-slide
                    +img('main-projects-image.jpg')
                .swiper-slide
                    +img('main-projects-image.jpg')

    section.main-advantages
        .container
            .main-advantages__inner
                .section-title Преимущества
                .main-advantages__items
                    include ../components/_advantages-item
                    - var n = 1;
                    while n <=3
                        +advantagesItem(n)
                        - n++;

    section.main-cooperation
        .container
            .main-cooperation__inner
                .main-cooperation__top
                    .section-title Сотрудничество с нами
                    p Оставьте заявку через наш сайт, и мы, ознакомившись, свяжемся с Вами в кратчайшие сроки
                .main-cooperation__bottom
                    p Оставьте заявку через наш сайт, и мы, ознакомившись, свяжемся с Вами в кратчайшие сроки
                    include ../components/_request-form

    section.main-licenses
        .container
            .main-licenses__inner
                .main-licenses__top
                    .section-title Лицензии
                    .slider__nav
                        button(type="button").button-prev
                        button(type="button").button-next
                .main-licenses__slider.swiper
                    .swiper-wrapper
                        - var n = 1;
                        while n <= 6
                            .swiper-slide
                                +img(`license-image-${n}.jpg`)
                            - n++;

    section.main-socials
        .section-title Присоединяйтесь к нашим медиа
        .main-socials__items
            .main-socials__item
                noindex
                    a(href="javascript:void(0)" rel="nofollow")
                        include ../icons/icon_telegram.svg
                        span Telegram
            .main-socials__item
                noindex
                    a(href="javascript:void(0)" rel="nofollow")
                        include ../icons/icon_whatsapp.svg
                        span WhatsApp
        .main-socials__image
            +img('main-socials-image.jpg')





