extends ../layout/layout

block title
    - var title = "Главная"
    - var page = "page-main"
block main
    section.main-hero
        .container
            .main-hero__inner
                h1 Геоаспект инженерная группа
                p.
                    Мы предлагаем полный спектр инженерных услуг, связанных с геодезическими работами.
                    С Геоаспект вы получаете подробные, юридически соответствующие данные для вашего
                    проекта и можете положиться на наше стратегическое управление, четкую коммуникацию
                    и абсолютную надежность.
                button(data-src="#popupRequest" data-fancybox).btn.btn--primary Оставить заявку
        .main-hero__image
            +img('main-hero-image.jpg')

