mixin advantagesItem(index)
    .advantages-item
        .advantages-item__image
            +img(`advantages-item-image-${index}.jpg`)
        .advantages-item__text.
            В собственности компании более 80 единиц транспортной техники, включая вездеходную;
            линейка сканирующих систем для воздушного, мобильного и наземного лазерного сканирования
            производства RIEGL, более 30 единиц буровых установок различных типов.
