.custom-select
    select(name="select")
        option(value="0" selected) Сроки производства работ
        option(value="1") 2 месяца
        option(value="2") 7 месяцев
        option(value="3") 10 месяцев
        option(value="4") 12 месяцев