// ПОПАП ЗАЯВКИ
.popup.popup-request#popupRequest
    .popup-request__inner
        button(data-fancybox-close).popup-request__close
            +img('x-mark.svg')
        .popup-request__title Сотрудничество с нами
        include ../components/_request-form

// ПОПАП УСПЕШНОЙ ОТПРАВКИ ЗАЯВКИ

.popup.popup-success#popupSuccess
    .popup-success__inner
        button(data-fancybox-close).popup-success__close
            +img('x-mark.svg')
        .popup-success__title Ваша заявка успешно отправлена
