:root {
  --content-white-primary: #fcfcfc;
  --content-white-subprimary: rgba(252, 252, 252, 0.95);
  --content-white-secondary: rgba(252, 252, 252, 0.75);
  --content-white-disabled: rgba(252, 252, 252, 0.4);
  --content-white-border: rgba(252, 252, 252, 0.15);
  --content-white-background: rgba(252, 252, 252, 0.05);
  --content-brown-primary: #3f2a23;
  --content-brown-subprimary: rgba(63, 42, 35, 0.85);
  --content-brown-secondary: rgba(63, 42, 35, 0.3);
  --content-brown-disabled: rgba(63, 42, 35, 0.12);
  --content-brown-border: rgba(63, 42, 35, 0.06);
  --content-brown-background: rgba(63, 42, 35, 0.03);
  --accent-blue-primary: #0095d2;
  --accent-blue-subprimary: rgba(0, 149, 210, 0.85);
  --accent-blue-secondary: rgba(0, 149, 210, 0.6);
  --accent-blue-disabled: rgba(0, 149, 210, 0.3);
  --accent-blue-border: rgba(0, 149, 210, 0.1);
  --accent-blue-background: rgba(0, 149, 210, 0.04);
  --accent-green-primary: #00755e;
  --accent-green-subprimary: rgba(0, 117, 94, 0.5);
  --accent-green-secondary: rgba(0, 117, 94, 0.3);
  --background-white-primary: #fcfcfc;
  --background-white-subprimary: rgba(252, 252, 252, 0.6);
  --background-black-primary: #15100e;
  --background-black-subprimary: rgba(21, 16, 14, 0.7);
  --background-black-secondary: rgba(21, 16, 14, 0.3);
  --background-black-disabled: rgba(21, 16, 14, 0.08);
  --background-gray-primary: #f1efef;
  --colors-instagram-primary: #fe007a;
  --colors-telegram-primary: #27a6e5;
  --colors-whatsapp-primary: #2bd049;
  --colors-brown-primary: #3f2a23;
  --colors-orange-primary: #783812;
  --colors-green-primary: #00755e;
  --colors-gray-primary: #84a3b2;
  --colors-gold-primary: #9a744c;
  --colors-lightgreen-primary: #59a139;
  --colors-blue-primary: #0095d2;
  --colors-darkgreen-primary: #00441f;
  --colors-red-primary: #d20000;

  /* === Типография === */
  --font-main: 'Aeonik Pro TRIAL', sans-serif;
  --bold-80: 700 80px/1 var(--font-main);
  --bold-64: 700 64px/1 var(--font-main);
  --bold-56: 700 56px/1 var(--font-main);
  --bold-48: 700 48px/1 var(--font-main);
  --bold-38: 700 38px/1 var(--font-main);
  --bold-32: 700 32px/1 var(--font-main);
  --bold-30: 700 30px/1 var(--font-main);
  --bold-26: 700 26px/1 var(--font-main);
  --regular-80: 400 80px/1 var(--font-main);
  --regular-64: 400 64px/1 var(--font-main);
  --regular-48: 400 48px/1 var(--font-main);
  --regular-40: 400 48px/1 var(--font-main);
  --regular-32: 400 32px/1 var(--font-main);
  --regular-28: 400 28px/1 var(--font-main);
  --regular-26: 400 26px/1.1 var(--font-main);
  --regular-24: 400 24px/1.1 var(--font-main);
  --regular-22: 400 22px/1.1 var(--font-main);
  --regular-20: 400 20px/1.1 var(--font-main);
  --regular-18: 400 18px/1.5 var(--font-main);
  --regular-16: 400 16px/1.5 var(--font-main);
  --regular-14: 400 14px/1.5 var(--font-main);
  --regular-12: 400 12px/1.3 var(--font-main);
  --regular-10: 400 10px/1.2 var(--font-main);

  --transition: all .3s ease-in-out;
}

$content-white-primary: var(--content-white-primary);
$content-white-subprimary: var(--content-white-subprimary);
$content-white-secondary: var(--content-white-secondary);
$content-white-disabled: var(--content-white-disabled);
$content-white-border: var(--content-white-border);
$content-white-background: var(--content-white-background);
$content-brown-primary: var(--content-brown-primary);
$content-brown-subprimary: var(--content-brown-subprimary);
$content-brown-secondary: var(--content-brown-secondary);
$content-brown-disabled: var(--content-brown-disabled);
$content-brown-border: var(--content-brown-border);
$content-brown-background: var(--content-brown-background);
$accent-blue-primary: var(--accent-blue-primary);
$accent-blue-subprimary: var(--accent-blue-subprimary);
$accent-blue-secondary: var(--accent-blue-secondary);
$accent-blue-disabled: var(--accent-blue-disabled);
$accent-blue-border: var(--accent-blue-border);
$accent-blue-background: var(--accent-blue-background);
$accent-green-primary: var(--accent-green-primary);
$accent-green-subprimary: var(--accent-green-subprimary);
$accent-green-secondary: var(--accent-green-secondary);
$background-white-primary: var(--background-white-primary);
$background-white-subprimary: var(--background-white-subprimary);
$background-black-primary: var(--background-black-primary);
$background-black-subprimary: var(--background-black-subprimary);
$background-black-secondary: var(--background-black-secondary);
$background-black-disabled: var(--background-black-disabled);
$background-gray-primary: var(--background-gray-primary);
$colors-instagram-primary: var(--colors-instagram-primary);
$colors-telegram-primary: var(--colors-telegram-primary);
$colors-whatsapp-primary: var(--colors-whatsapp-primary);
$colors-brown-primary: var(--colors-brown-primary);
$colors-orange-primary: var(--colors-orange-primary);
$colors-green-primary: var(--colors-green-primary);
$colors-gray-primary: var(--colors-gray-primary);
$colors-gold-primary: var(--colors-gold-primary);
$colors-lightgreen-primary: var(--colors-lightgreen-primary);
$colors-darkgreen-primary: var(--colors-darkgreen-primary);
$colors-red-primary: var(--colors-red-primary);
$colors-blue-primary: var(--colors-blue-primary);

$transition: var(--transition);

$bold-80: var(--bold-80);
$bold-64: var(--bold-64);
$bold-56: var(--bold-56);
$bold-48: var(--bold-48);
$bold-38: var(--bold-38);
$bold-32: var(--bold-32);
$bold-30: var(--bold-30);
$bold-26: var(--bold-26);
$regular-80: var(--regular-80);
$regular-64: var(--regular-64);
$regular-48: var(--regular-48);
$regular-40: var(--regular-40);
$regular-32: var(--regular-32);
$regular-28: var(--regular-28);
$regular-26: var(--regular-26);
$regular-24: var(--regular-24);
$regular-22: var(--regular-22);
$regular-20: var(--regular-20);
$regular-18: var(--regular-18);
$regular-16: var(--regular-16);
$regular-14: var(--regular-14);
$regular-12: var(--regular-12);
$regular-10: var(--regular-10);